<h1>Listing entries</h1>

<table id="entries">
<tbody>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 

</tbody>
</table>


<h2>Entry Form</h2>
<div id="form"><%= render "form"%></div>
<br />

<%= link_to 'New Entry', new_entry_path %>
